<header role="navigation">
    <nav>
        {% comment %}
            {% for page in site.pages %}
                {% if page.url != "/404/" %}
                <a href="{{ page.url }}">{{ page.title }}</a>
                {% endif %}
            {% endfor %}
            {% for collection in site.collections %}
                <a href="{{ collection.url }}">{{ collection.title }}</a>
            {% endfor %}
        {% endcomment %}
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/about/"
            {% if page.url == '/about/' %}
                class="active"
            {% endif %}
        >About</a>
        <a href="{{ site.baseurl }}/work/"
            {% if page.url == '/work/' %}
                class="active"
            {% endif %}
        >Work</a>
        <a href="{{ site.baseurl }}/contact/"
            {% if page.url == '/conact/' %}
                class="active"
            {% endif %}
        >Contact</a>
    </nav>
</header>
