// Variables

// $blue: #00adef;
// $orange: #fa5c5c;
$yellow: #f1c40f;
$red: #f22613;
// $green: #bada55;
// $yellow-fast: #fee900;
$gray: rgb(31, 31, 31);

$mellow-border-black: #1f1f1f;

$facebook-blue: #3b5998;
$twitter-blue: #55acee;

$font-heading: 'HelveticaNeue-CondensedBlack', Abril Fatface, Karla, Abril Fatface, Times, serif;
$font-body: Helvetica Neue, "acumin-pro", -apple-system, BlinkMacSystemFont, Acumin Pro, sans-serif;
// $font-caption: 'Francois One', Franklin Gothic, sans-serif;
// $font-monospace: 'Source Code Pro', Consolas, monospace;

// Mixins

// @mixin mq($point) {
//   @if $point == large {
//     @media (min-width: 64.375em) { @content; }
//   }
//   @else if $point == medium {
//     @media (min-width: 50em) { @content; }
//   }
//   @else if $point == small {
//     @media (min-width: 37.5em)  { @content; }
//   }
//   @else if $point == max-small {
//   	@media (max-width: 29em) { @content }
//   }
//   @else if $point == max-medium {
//   	@media (max-width: 700px) { @content }
//   }
//   @else {
//   	@media (min-width: $point) { @content }
//   }
// }

$tablet-width: 768px;
$desktop-width: 1024px;
$phone-width: 600px;

@mixin phone {
  @media (min-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Animations

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

%full-bg {
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center;
}

%word-break {
  -ms-word-break: break-all;
  word-break: break-all;

     /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

::selection {
	background: $red;
	color: white;
}
::-moz-selection {
	background: $red;
	color: white;
}

html, body {
	height: 100%;
}


header, section, footer {
	width: 100%;
	overflow: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	transition: 0.25s;
}

:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

b { font-weight: normal; }

i { font-style: normal; }

strong { font-weight: bold; }

em { font-style: italic; }

u { text-decoration: underline; }

img { max-width: 100%; }

small {
    font-size: 90%;
}

header, footer, section {
	overflow: auto;
	width: 100%;
}

// Form Reset

input[placeholder],
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="url"],
	input[type="submit"],
	textarea,
	select,
	option {
        // display: block;
        margin: 0 auto;
	  color: white;
	  //display: block;
	  text-align: center;
	  padding: 1.25rem 1rem;
	  border: 2px solid white;
	  border-radius: 0;
	  background: rgba(white, 0);
	  outline-offset: 0;
	  // margin-bottom: 1.5rem;
	  max-width: 100%;
	  font: {
	  	family: $font-body;
	  	size: 1.25em;
	  }
	}

	input[type="submit"] {
		font: {
			family: $font-body;
			weight: bold;
		}

		text-transform: uppercase;
		-webkit-appearance: none;
		appearance: none;
		border-radius: 0;
		background: white;
		color: black;
	}

    .main-section {
    	background: black;
    	overflow: auto;
    	padding: 2rem 5%;

    	.intro {
    		position: absolute;
    		padding: 2rem;
    		width: 100%;

    		@include phone {
    			width: 60%;
    		}

    		@include tablet {
    			position: absolute;
    			width: 40%;
    			padding: 4rem 3rem;
    			bottom: 35%;
    			right: 2rem;
    			left: none;
    		}

    		@include desktop {
    			width: 30%;
    		}

    		h1 {
    			font-size: 1.25rem;
    			margin-bottom: 1rem;
    			line-height: 1.3333333333;
    		}

    		p {
    			margin-bottom: 0;
    			font-size: 1.125rem;
    			line-height: 1.5;

    			.dash {
    				letter-spacing: -2.5px;
    			}
    		}
    	}
    }
