.main-section--feature {
	background-repeat: no-repeat;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid $mellow-border-black;
	transition: 0.5s;

	&:last-of-type {
		border-bottom: 0;
	}

	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}

	@include phone {
		&:nth-of-type(odd) {
			flex-direction: row-reverse;
		}
		&:nth-of-type(even) {
			flex-direction: row;
		}
	}

	&:hover img, &:focus img {
		transform: scale(1.025);
	}

	> a {
		// width: 40%;
		// max-width: 500px;
		// max-height: 60vh;
		overflow: hidden;
		width: 100%;

		@include phone {
			width: 40%;
		}

		img {
			transition: 2s;
		}
	}

	.desc-container {
		width: 50%;
		// padding: 5% 10%;
		// border: 2px solid white;
		flex-grow: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 0;
	}

	.desc {
		width: 100%;
		max-width: 345px;
		padding: 1.5rem;
		// border: 1px solid white;

		@include phone {
			width: 80%;
		}

		@include tablet {
			padding: 3rem;
			// border: 1px solid white;
		}

		@include desktop {
			border: 1px solid white;
		}

		h1 {
			font-size: 1.25rem;
			margin-bottom: 1rem;
			line-height: 1.3333333333;
		}

		p {
			margin-bottom: 0;
			// font-size: 1.125rem;
			line-height: 1.3333333333;

			.dash {
				letter-spacing: -2.5px;
			}
		}

		.button-container {
			margin-top: 2rem;
		}

		.button {
			margin-top: 2rem;
			padding: 0.65rem 1rem;
			background: white;
			color: black;
			font-size: 0.9rem;
			border-radius: 1px;
		}
	}

}
