// Imports
@import "normalize";
@import "settings";
// @import "grid";
// @import "icons/genericons";
@import "work"; // Work items list
@import "generic-page"; // Page headers and generic article content
@import "slider";


body {
	background: transparent;
    // border: 10px solid black;
	font: {
		family: $font-body;
		size: 100%;
        weight: 300;
	}
	color: white;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

header[role="navigation"] {
    background: black;
	display: flex;
    z-index: 2;
    padding: 1rem;
	border-bottom: 1px solid $mellow-border-black;

	@include tablet {
		width: 100vh;
		position: fixed;
		transform: rotate(90deg);
		transform-origin: top left;
		padding: 1.75rem;
		left: 74px;
		justify-content: space-around;
		background: transparent;
	}

    nav {
        display: flex;
        justify-content: space-around;
        width: 100%;

		@include tablet {
			width: 40%; // increase if adding more items to nav
			transform: rotate(180deg);
		}

		@media (max-height: 400px) {
			// width: 100%;
		}

        a {
            display: flex;
			// text-decoration: underline;
			font-size: .925rem;
			text-transform: lowercase;

			&:hover, &:focus {
				text-decoration: underline;
				// text-decoration: line-through;
			}

			&.active {
				text-decoration: underline;
				// text-decoration: line-through;
			}

			@include tablet {
				font-size: 1rem;
			}
        }
    }

}

main {
    min-height: 90vh;
    // max-height: 90vh;
	max-width: 100vw;

	overflow: auto;

	&.main-section {
		padding: 0;
	}

	@include tablet {
		min-height: 100vh;
	}

    img {
        width: 100%;
        position: absolute;
        height: 100%;
    }

	.video-container {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;

		video, iframe {
			min-width: 100%;
			min-height: 100%;
			background-size: cover;
	    }
	}
}

.no-videoautoplay {
	.video-container {
		// background: url(../img/build/mug2.jpg);
		background: url(../img/lights-still-fallback.jpg);
		opacity: 0.5;
		@extend %full-bg;
		// background-attachment: scroll !important;
	}

	video {
		display: none;
	}
}


.main-section--footer {
	border-top: 1px solid $mellow-border-black;
	// background: #111;
	padding: 1.5rem;
	text-align: center;
	color: #aaa;

	a {
		// border-bottom: 1px solid #777;
		// text-decoration: underline;
	}
}
