// Imports
@import "normalize";
@import "settings";
// @import "grid";
// @import "icons/genericons";

body {
	background: transparent;
    // border: 10px solid black;
	font: {
		family: $font-body;
		size: 100%;
        weight: 300;
	}
	color: white;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

header[role="navigation"] {
    background: black;
	display: flex;
    z-index: 2;
    padding: 1rem;
	border-bottom: 1px solid $mellow-border-black;

	@include tablet {
		width: 100vh;
		position: fixed;
		transform: rotate(90deg);
		transform-origin: top left;
		padding: 1.75rem;
		left: 74px;
		justify-content: space-around;
		background: transparent;
	}

    nav {
        display: flex;
        justify-content: space-around;
        width: 100%;

		@include tablet {
			width: 40%; // increase if adding more items to nav
			transform: rotate(180deg);
		}

		@media (max-height: 400px) {
			// width: 100%;
		}

        a {
            display: flex;
			// text-decoration: underline;
			font-size: .925rem;
			text-transform: lowercase;

			&:hover, &:focus {
				text-decoration: underline;
				// text-decoration: line-through;
			}

			&.active {
				text-decoration: underline;
				// text-decoration: line-through;
			}

			@include tablet {
				font-size: 1rem;
			}
        }
    }

}

main {
    min-height: 100vh;
    max-height: 100vh;
	max-width: 100vw;

	overflow: auto;

	&.main-section {
		padding: 0;
	}

	@include tablet {
		min-height: 100vh;
	}

    img {
        width: 100%;
        position: absolute;
        height: 100%;
    }

	.video-container {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;

		video, iframe {
			min-width: 100%;
			min-height: 100%;
			background-size: cover;
	    }
	}
}

.no-videoautoplay {
	.video-container {
		// background: url(../img/build/mug2.jpg);
		background: url(../img/lights-still-fallback.jpg);
		opacity: 0.5;
		@extend %full-bg;
	}

	video {
		display: none;
	}
}

.main-section {
	background: black;
	overflow: auto;
	padding: 2rem 5%;

	.intro {
		position: absolute;
		padding: 2rem;
		width: 100%;

		@include phone {
			width: 60%;
		}

		@include tablet {
			position: absolute;
			width: 40%;
			padding: 4rem 3rem;
			bottom: 35%;
			right: 2rem;
			left: none;
		}

		@include desktop {
			width: 30%;
		}

		h1 {
			font-size: 1.25rem;
			margin-bottom: 1rem;
			line-height: 1.3333333333;
		}

		p {
			margin-bottom: 0;
			font-size: 1.125rem;
			line-height: 1.3333333333;

			.dash {
				letter-spacing: -2.5px;
			}
		}
	}
}

.main-section--feature {
	background-repeat: no-repeat;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid $mellow-border-black;
	transition: 0.5s;

	&:last-of-type {
		border-bottom: 0;
	}

	&:nth-of-type(even) {
		flex-direction: row-reverse;
	}

	@include phone {
		&:nth-of-type(odd) {
			flex-direction: row-reverse;
		}
		&:nth-of-type(even) {
			flex-direction: row;
		}
	}

	&:hover img, &:focus img {
		transform: scale(1.025);
	}

	> a {
		// width: 40%;
		// max-width: 500px;
		// max-height: 60vh;
		overflow: hidden;
		width: 100%;

		@include phone {
			width: 40%;
		}

		img {
			transition: 2s;
		}
	}

	.desc-container {
		width: 50%;
		// padding: 5% 10%;
		// border: 2px solid white;
		flex-grow: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 0;
	}

	.desc {
		width: 100%;
		max-width: 345px;
		padding: 1.5rem;
		// border: 1px solid white;

		@include phone {
			width: 80%;
		}

		@include tablet {
			padding: 3rem;
			// border: 1px solid white;
		}

		@include desktop {
			border: 1px solid white;
		}

		h1 {
			font-size: 1.25rem;
			margin-bottom: 1rem;
			line-height: 1.3333333333;
		}

		p {
			margin-bottom: 0;
			// font-size: 1.125rem;
			line-height: 1.3333333333;

			.dash {
				letter-spacing: -2.5px;
			}
		}

		.button-container {
			margin-top: 2rem;
		}

		.button {
			margin-top: 2rem;
			padding: 0.65rem 1rem;
			background: white;
			color: black;
			font-size: 0.9rem;
			border-radius: 1px;
		}
	}

	// &:nth-child(odd) {
	// 	@include phone {
	// 		background-position: left center;
	// 	}
	//
	// 	.intro {
	// 		float: right;
	//
	// 		@include desktop {
	// 			right: 10%;
	// 		}
	//
	// 		@media (max-width: 400px) and (orientation: landscape) {
	// 			right: 0;
	// 		}
	// 	}
	// }
	//
	// &:nth-child(even) {
	// 	@include phone {
	// 		background-position: right center;
	// 	}
	//
	// 	.intro {
	// 		float: left;
	//
	// 		@include desktop {
	// 			left: 10%;
	// 		}
	//
	// 		@media (max-width: 400px) and (orientation: landscape) {
	// 			left: 0;
	// 		}
	// 	}
	// }

	&--god {
		background-image: url(../img/screaming-kid.jpg);
	}

	&--soon {
		background-image: url(../img/cool-kid.jpg);
	}

	// Media Queries

	@include phone {
		// min-height: 100vh;
	    // max-width: 100vw;
		// padding: 0 0;
	}

	@include phone {
		// background-position: left center;
	}

	.intro {
		// border: 2px solid white;
	}

	background-size: 70% auto;
	position: relative;

	@include desktop {
		background-size: 50% auto;
	}


	.intro {
		background: rgba(black, .5);
		// background: black;
		// float: right;
		width: 80%;

		position: relative;
		// bottom: -10rem;
		margin-top: 5rem;

		@include phone {
			margin-top: 0;
		}

		// @include tablet {}

		@include desktop {
			bottom: 20%;
			// right: 10%;
			width: 30%;
			background: transparent;
			border: 2px solid white;
		}

		// @media (max-height: 480px) and (max-width: 400px) {
		@media (max-width: 400px) and (orientation: landscape) {
			position: static;
			// right: 0;
			bottom: 0;
			width: 100%;
		}

		// @media (max-height: 360px) {
		// 	position: static;
		// 	right: 0;
		// 	bottom: 0;
		// 	width: 100%;
		// }

		@media (max-width: 960px) and (orientation: landscape) {
			bottom: 0;
		}

		@media (max-width: 280px) {
			bottom: 0;
			position: relative;
			top: -5rem;
		}

		p {
			font-size: 1rem;
			line-height: 1.45;
			margin-bottom: 1rem;

			@include tablet {
				font-size: 1rem;
				// line-height: 1.3333333;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}


	}


}

.main-section--page-header {
	padding: 10% 5%;
	border-bottom: 1px solid $mellow-border-black;

	@include phone {
		padding: 7.5% 5%;
	}

	* {
		@include phone {
			padding-left: 50%;
		}
	}

	h1 {
		font-size: 1rem;
		text-transform: lowercase;
		// padding-bottom: 1rem;
		margin-bottom: 1rem;
		// display: inline;
		// border-bottom: 3px solid white;

		&:before {
			display: inline;
			position: relative;
			top: -2px;
			content: '&mdash&mdash&mdash&nbsp&nbsp';
			// content: '';
			width: 100px;
			height: 1px;
			background: white;
			font-size: 5px;
			margin-right: 0.5rem;
		}
	}

	p {
		font-size: 1.25rem;
		@include phone {
			font-size: 1.625rem;
		}
	}
}

.main-section--footer {
	border-top: 1px solid $mellow-border-black;
	// background: #111;
	padding: 1.5rem;
	text-align: center;
	color: #aaa;

	a {
		// border-bottom: 1px solid #777;
		// text-decoration: underline;
	}
}
