/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 599 of assets/scss/style.scss

594: 			&:hover, &:focus {
595: 				color: darken($orange, 15%);
596: 			}
597: 		}
598: }

Backtrace:
assets/scss/style.scss:599
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:656:in `block'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:414:in `run'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/bin/sass:23:in `load'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/bin/sass:23:in `<main>'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Prabhav/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 599 of assets/scss/style.scss\A \A 594: 			&:hover, &:focus {\A 595: 				color: darken($orange, 15%);\A 596: 			}\A 597: 		}\A 598: }"; }
