<!doctype html>
<html lang="en" class="no-js videoautoplay">
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}

        {% if page.url == "/" %}
            <!-- Hero Video Background -->

            <main class="main-section">
                <div class="video-container">
                    <!-- <video autoplay muted class="videoautoplay"> -->
                    <video autoplay muted poster="{{ site.baseurl }}/assets/img/lights-still-off.jpg">
                        <source src="{{ site.baseurl }}/assets/img/lights.webm" type="video/webm">
                        <source src="{{ site.baseurl }}/assets/img/lights.mp4" type="video/mp4">
                    </video>
                </div>

                <article class="intro">
                    <h1>Varun Chopra</h1>
                    <p>
                        <span class="dash">&mdash;&mdash;&mdash;</span> &nbsp;is a filmmaker, director and student working &amp; living out of sunny Los Angeles, California.</p>
                </article>
            </main>
        {% endif %}

        {% if page.url != '/' %}
            <header class="main-section main-section--page-header">
                <h1> {{ page.title }}</h1>
                <p>
                    {{ content }}
                </p>
            </header>
        {% endif %}


        {% if page.url == "/work/" %}
            {% for post in site.work %}
                <section class="main-section main-section--feature">
                    <a href="{{ post.url }}">
                        <img src="{{ post.image }}" alt="Still from {{ post.title }}" />
                    </a>
                    <div class="desc-container">
                        <article class="desc">
                            <h1>{{ post.title }}</h1>
                            <p>
                                <span class="dash">&mdash;&mdash;&mdash;</span> &nbsp; {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                                <p>
                                </p>
                            </p>
                            <p class="button-container">
                                <a href="{{ post.url }}" class="button">+ know more</a>
                            </p>
                        </article>
                    </div>
                </section>
            {% endfor %}
        {% endif %}

        <!-- <section class="main-section main-section--feature main-section--feature--god">
            <article class="intro">
                <h1>God on a Leash</h1>
                <p>
                    <span class="dash">&mdash;&mdash;&mdash;</span> &nbsp;Two ancestral artforms survive through the veneration of Hanuman, a hindu deity with a monkey face and human body. This is the story of being held on a leash to the hands of faith, heritage and poverty that explores the concept of humanism and divinity.
                </p>
                <p class="button-container">
                    <a href="#" class="button">+ know more</a>
                </p>
            </article>
        </section>

        <section class="main-section main-section--feature main-section--feature--soon">
            <article class="intro">
                <h1>Wukring Taatle</h1>
                <p>
                    <span class="dash">&mdash;&mdash;&mdash;</span> &nbsp;Two ancestral artforms survive through the veneration of Hanuman, a hindu deity with a monkey face and human body. This is the story of being held on a leash to the hands of faith, heritage and poverty that explores the concept of humanism and divinity.
                </p>
                <p>
                    <em>Due to release in late Spring.</em>
                </p>
            </article>
        </section> -->

        {% include footer.html %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/production.min.js"></script>
        <script src="https://use.typekit.net/zmq5ohc.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

    </body>
</html>
