<!doctype html>
<html lang="en" class="no-js videoautoplay">
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}

        <!-- Hero Video Backgound -->
        {% if page.url == "/" %}
            <main class="main-section">
                <div class="video-container">
                    <!-- <video autoplay muted class="videoautoplay"> -->
                    <video autoplay muted poster="{{ site.baseurl }}/assets/img/lights-still-off.jpg">
                        <source src="{{ site.baseurl }}/assets/img/lights.mp4" type="video/mp4">
                        <source src="{{ site.baseurl }}/assets/img/lights.webm" type="video/webm">
                    </video>
                </div>

                <article class="intro">
                    <h1>Varun Chopra</h1>
                    <p>
                        <span class="dash">&mdash;&mdash;&mdash;</span> &nbsp;is a filmmaker, director and student working &amp; living out of sunny Los Angeles, California.</p>
                </article>
            </main>
        {% endif %}

        <!-- Generic page contents -->
        {% if page.url != '/' %}
            <header class="main-section main-section--page-header">
                <h1> {{ page.title }}</h1>
                <p>
                    {% if page.intro == null %}
                        {{ page.excerpt }}
                    {% else if %}
                        {{ page.intro }}
                    {% endif %}
                </p>
            </header>

            {% if page.title != "Work" %}
            <article class="main-section main-section--page-content">
                {{ content }}
                {% if post.slider_image != null %}
                    <div class="my-slider">
                    	<ul>
                            {% for slider_image in slider_images %}
                    		      <li><img src="{{ slider_image }}" alt="" /></li>
                            {% endfor %}
                    	</ul>
                    </div>
                {% endif %}
            </article>
            {% endif %}
        {% endif %}

        <!-- Work Items -->
        {% if page.url == "/work/" %}
            {% include work-items.html %}
        {% endif %}

        <!-- Footer -->
        {% include footer.html %}

        {% if page.url != "/" %}
            <script type="text/javascript" src="{{ site.baseurl }}/assets/js/production.min.js"></script>
            <script>
              $(document).ready(function(){
                // Target your .container, .wrapper, .post, etc.
                $("iframe").fitVids();
                $('.my-slider').unslider();
    		  });
            </script>
        {% endif %}
        <!-- Typekit Fonts -->
        <script src="https://use.typekit.net/zmq5ohc.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
    </body>
</html>
